{{> backLogo}}
<h1>{{client.name}}</h1>
<table>
    <colgroup>
        <col style="width:28%">
        <col style="width:60%">
    </colgroup>
    <thead>
        <tr>
            <th>ID</th>
            <th>{{client.id}}</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>Imię</th>
            <td>{{client.name}}</td>
        </tr>
        <tr>
            <th>e-mail</th>
            <td><a class="sendEmail" href='mailto:{{client.mail}}' target='_blank'>{{client.mail}}</a></td>
        </tr>
        <tr>
            <th>Data kontaktu:</th>
            <td>{{client.nextContactAt}}</td>
        </tr>
        {{#if client.notes}}
        <tr>
            <th>Uwagi:</th>
            <td>{{client.notes}}</td>
        </tr>
        {{/if}}
        {{#if client.category}}
        <tr>
            <th>Liga:</th>
            <td>{{client.category}}</td>
        </tr>
        {{/if}}
    </tbody>
</table>
<form class="button_form" method='GET' action='/client/form/edit/{{client.id}}'>
    <button type='submit'>Edytuj</button>
</form>
{{> go-to-clients}}